@use "sass:map";
@use "@style/vars.scss" as *;

.hero {
  background-color: getColor(e, "light");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  body.dark-mode & {
    background-color: getColor(e, "dark");
  }
}

